USE [master]
GO
/****** Object:  Database [bankManagement_Data]    Script Date: 5/2/2025 7:19:55 PM ******/
CREATE DATABASE [bankManagement_Data]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bankManagement_Data', FILENAME = N'D:\App_SetUp\SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bankManagement_Data.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bankManagement_Data_log', FILENAME = N'D:\App_SetUp\SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bankManagement_Data_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bankManagement_Data].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bankManagement_Data]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/2/2025 7:19:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 5/2/2025 7:19:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Sdt] [nvarchar](450) NOT NULL,
	[Hoten] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[Sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankAccounts]    Script Date: 5/2/2025 7:19:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccounts](
	[CreatedDate] [datetime2](7) NOT NULL,
	[Balance] [float] NOT NULL,
	[IsFrozen] [bit] NOT NULL,
	[IsFlagged] [bit] NOT NULL,
	[Sdt] [nvarchar](450) NOT NULL,
	[AccountType] [nvarchar](13) NOT NULL,
	[LoanLimit] [float] NULL,
	[LatePaymentInterestRate] [float] NULL,
	[CurrentLoan] [float] NULL,
	[MonthlyFee] [float] NULL,
	[TransactionFee] [float] NULL,
	[InterestRate] [real] NULL,
	[MinimumBalance] [float] NULL,
	[AccountId] [int] NOT NULL,
 CONSTRAINT [PK_BankAccounts] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 5/2/2025 7:19:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [decimal](20, 0) IDENTITY(1,1) NOT NULL,
	[TransactionDate] [datetime2](7) NOT NULL,
	[FromAccountId] [int] NOT NULL,
	[ToAccountId] [int] NOT NULL,
	[Amount] [float] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/2/2025 7:19:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Sdt] [nvarchar](450) NOT NULL,
	[NS] [datetime2](7) NOT NULL,
	[Hoten] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250430081730_BankDB', N'9.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250502104713_BankDBv2', N'9.0.4')
GO
INSERT [dbo].[BankAccounts] ([CreatedDate], [Balance], [IsFrozen], [IsFlagged], [Sdt], [AccountType], [LoanLimit], [LatePaymentInterestRate], [CurrentLoan], [MonthlyFee], [TransactionFee], [InterestRate], [MinimumBalance], [AccountId]) VALUES (CAST(N'2025-05-02T18:58:13.8179682' AS DateTime2), 0, 0, 0, N'0703134392', N'Regular', NULL, NULL, NULL, 5, 1, NULL, NULL, 42986035)
INSERT [dbo].[BankAccounts] ([CreatedDate], [Balance], [IsFrozen], [IsFlagged], [Sdt], [AccountType], [LoanLimit], [LatePaymentInterestRate], [CurrentLoan], [MonthlyFee], [TransactionFee], [InterestRate], [MinimumBalance], [AccountId]) VALUES (CAST(N'2025-05-02T19:04:55.7381916' AS DateTime2), 0, 0, 0, N'0905800700', N'Regular', NULL, NULL, NULL, 5, 1, NULL, NULL, 55027719)
GO
INSERT [dbo].[Users] ([Sdt], [NS], [Hoten], [PasswordHash]) VALUES (N'0703134392', CAST(N'2025-04-30T00:00:00.0000000' AS DateTime2), N'Phan Thị Nhân Vỹ', N'AQAAAAIAAYagAAAAEP/crNwcMe/O7jfvNxTWD6BxDOX+4pv2SChTc7M7GVrteGco0QytTsqnMEZAkEXDPA==')
INSERT [dbo].[Users] ([Sdt], [NS], [Hoten], [PasswordHash]) VALUES (N'0905800700', CAST(N'2025-04-29T00:00:00.0000000' AS DateTime2), N'Phan Thị Nhân Vỹ', N'AQAAAAIAAYagAAAAEAVe2QREBmxJH8Ws0I7QfpOs/e4msNO0dhSvRZDOUfYpzFSkotHLzsPOpZTYhmtPbw==')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BankAccounts_Sdt]    Script Date: 5/2/2025 7:19:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_BankAccounts_Sdt] ON [dbo].[BankAccounts]
(
	[Sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transactions_FromAccountId]    Script Date: 5/2/2025 7:19:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Transactions_FromAccountId] ON [dbo].[Transactions]
(
	[FromAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transactions_ToAccountId]    Script Date: 5/2/2025 7:19:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Transactions_ToAccountId] ON [dbo].[Transactions]
(
	[ToAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[BankAccounts]  WITH CHECK ADD  CONSTRAINT [FK_BankAccounts_Users_Sdt] FOREIGN KEY([Sdt])
REFERENCES [dbo].[Users] ([Sdt])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BankAccounts] CHECK CONSTRAINT [FK_BankAccounts_Users_Sdt]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_BankAccounts_FromAccountId] FOREIGN KEY([FromAccountId])
REFERENCES [dbo].[BankAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_BankAccounts_FromAccountId]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_BankAccounts_ToAccountId] FOREIGN KEY([ToAccountId])
REFERENCES [dbo].[BankAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_BankAccounts_ToAccountId]
GO
USE [master]
GO
