body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #ffe6f0;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 40px;
    position: relative;
}

.login-left {
    width: 50%;
    padding: 40px;
    align-items: center;
}

    .login-left h1 {
        font-size: 40px;
        margin-bottom: 10px;
        text-align: center;
    }

.vmd-text {
    font-weight: bold;
    color: #5c54d4;
    font-size: 48px;
    text-align: center;
}

.welcome-text {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

    .login-form label {
        margin-bottom: 8px;
        font-weight: bold;
    }

    .login-form input {
        display: inline-block;
        padding: 12px;
        margin-bottom: 16px;
        border-radius: 8px;
        border: none;
        background-color: #ffa8c5;
        color: #000;
        font-size: 14px;
        box-sizing: border-box;
        width: 400px;
    }

        .login-form input::placeholder {
            color: #808080 !important;
        }

.forgot-password {
    color: #5c54d4;
    font-size: 14px;
    margin-bottom: 16px;
    text-decoration: none;
}

.login-btn {
    display: inline-block;
    background-color: #5c54d4;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
    width: 400px;
}

.register-text {
    margin-top: 16px;
    font-size: 14px;
}

    .register-text a {
        color: #5c54d4;
        text-decoration: none;
    }

.signup {
    color: pink;
    font-weight: bold;
}

.login-right {
    width: 45%;
}

    .login-right img {
        width: 100%;
        max-width: 500px;
    }

.signup-top {
    position: absolute;
    top: 20px;
    right: 40px;
    background-color: #5c54d4;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;

}

